# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
.#server.js

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directory
# https://docs.npmjs.com/misc/faq#should-i-check-my-node-modules-folder-into-git
node_modules

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

#sass
.sass-cache

# Local configuration file, dist file is config-dist.js
config.js

# Key files
keys/*.key
keys/*.csr
keys/*.crt

# Joe Temp Files
*~
DEADJOE
